$color-primary:#1473f5; //主要颜色
$color-light-blue:#9BC4FB; /*浅蓝色*/
$color-heightligh-blue:#4E96FA;//高亮蓝
$color-background: #f9f9f9; //区块背景
$color-shallow:#ECECEC; //较浅的灰色线条
$color-deep:#BCBCBC; //较深的灰色线条
$color-deeper:#999999;  //更深的灰色
$color-box-shadow:#CCC;/* 边框阴影*/
